html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100vh;
}
.container{
    height: 88%;
    padding: 0;
}
main {
    height: 100%;
    padding: 1rem 0;
}
.content{
    display: flex;
    height: 100%;
}
.page{
    margin-left: 20px;
    width: 83%;
}
#home{
    text-align: center;
}

/*
 ************************************************************
 *****   Styling for character-card list + list items   *****
 ************************************************************
*/
.characterList{
    border: 1px solid black;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    width: 200px;
}
.characterCardLink, 
.characterCardLink:active, 
.characterCardLink:visited, 
.characterCardLink:hover {
    color: black;
    text-decoration: none;
}
.characterCard {
    border: 1px dashed black;
    margin: 15px 10px;
}

/*
 ************************************************************
 *****            Styling for character page            *****
 ************************************************************
*/
#nameBox{
    width: fit-content;
}
.box{
    border: 1px solid red;
}