html {
  font-size: 14px;
  min-height: 100%;
  position: relative;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100vh;
}
.container{
    height: 88%;
    padding: 0;
}
main {
    height: 100%;
    padding: 1rem 0;
}
.content{
    display: flex;
    height: 100%;
}
.page{
    margin-left: 20px;
    width: 83%;
}
#home{
    text-align: center;
}

.flex {
    display: flex;
}

/*
 ************************************************************
 *****   Styling for character-card list + list items   *****
 ************************************************************
*/
.characterList{
    border: 1px solid black;
    height: fit-content;
    max-height: 100%;
    overflow: auto;
    width: 200px;
}
.characterCardLink, 
.characterCardLink:active, 
.characterCardLink:visited, 
.characterCardLink:hover {
    color: black;
    text-decoration: none;
}
.characterCard {
    border: 1px dashed black;
    margin: 15px 10px;
}

/*
 ************************************************************
 *****            Styling for character page            *****
 ************************************************************
*/
#characterPage{
    position: relative;
}
#characterPage hr{
    margin: 0px;
}
.box {
    border: 1px solid red;
    width: fit-content;
}
.titleData{
    text-transform: uppercase;
    font-size: small;
    text-align: center;
}


/* Name-Box styling */
#nameBox {
    width: fit-content;
}

/* Level-Box styling */
#lvlBox {
    height: min-content;
}
#levelInfo{
    width: 400px;
}
#levelInfo .flex {
    justify-content: space-evenly;
}
.lvlGroup, .expGroup {
    text-align: center;
}
.lvlGroup {
    width: 70px;
}
.expGroup{
    width: 170px
}
#headerData {
}
#levelData h4 {
    margin: 0px;
}
#levelData .expGroup {
    padding-top: 2px;
}
#editExp {
    align-items: flex-end;
    margin-left: 5px;
}
#editExp input[name="addExp"] {
    width: 100px;
}

/* Attribute-Box styling */
#attributesBox {
    text-align: center;
}
.attributeData {
    border: 3px groove;
    border-radius: 100%;
    margin: 10px;
}
.attributeName {
    font-size: medium;
    font-weight: 500;
}
.attributeValue {
}

/* HP-Box styling */
#hpBox {
    text-align: center;
}
.hp {
    font-size: xx-small;
    width: 70px;
    text-align: left;
    line-height: 24px;
    padding-left: 5px;
}
#hpBox input{
    font-size: small;
    line-height: 10px;
    height: 17px;

}
#hpBox input[name="HitPoints"] {
    width: 129px;
}
#editHp div{
    margin-top: -5px;
}

/* Wealth-Box styling */
#wealthBox {
}
#wealthData {
}
#currentWealth {
}
.wealthItem {
    margin: 3px 20px 3px 10px;
}
.coinTitle {
    margin-right: 30px;
    font-size: medium;
    font-weight: 500;
}
.coinValue {
}
#verticalDivider{
    border-left: 1px solid black;
    margin: 0px 5px;
    opacity: .3;
}
#editWealth input[type="number"]{
    width: 146px;
}

/* Characteristics-Box styling */
#characteristicsBox {
    width: 400px;
}
dl{
    margin: 0;
    padding-left: 10px;
}