
<div class="text-center">
    <h1 class="display-4">Welcome to your <img height="65" src="~/images/Logo.png" /> Character collection!</h1>
    <hr />
    <p>Log in or register an account to view, create and manage your Dungeons &amp; Dragons characters.</p>
</div>
