@model DnD_CharacterCollection.Models.Character

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" />
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArmorClass" class="control-label"></label>
                <input asp-for="ArmorClass" class="form-control" />
                <span asp-validation-for="ArmorClass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentExp" class="control-label"></label>
                <input asp-for="CurrentExp" class="form-control" />
                <span asp-validation-for="CurrentExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxHitPoints" class="control-label"></label>
                <input asp-for="MaxHitPoints" class="form-control" />
                <span asp-validation-for="MaxHitPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentHitPoints" class="control-label"></label>
                <input asp-for="CurrentHitPoints" class="form-control" />
                <span asp-validation-for="CurrentHitPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttributesId" class="control-label"></label>
                <select asp-for="AttributesId" class="form-control" asp-items="ViewBag.AttributesId"></select>
                <span asp-validation-for="AttributesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoinPouchId" class="control-label"></label>
                <select asp-for="CoinPouchId" class="form-control" asp-items="ViewBag.CoinPouchId"></select>
                <span asp-validation-for="CoinPouchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
