@model IEnumerable<Character>

<div class="content">
    <partial name="_CharacterCard" model="@Model" />
    <div id="home" class="page">
        <h2>Welcome to your Dungeons &amp; Dragons Characters!</h2>
        <hr />
        <h4>Click on the character-card in the menu to see the details about him or her!</h4>
    </div>
</div>


